<!DOCTYPE html>
<html>  
	<head>
		<meta http-equiv="Content-type" content="text/html;charset=utf-8"/>
        <title>Attractions</title>
        <!--CSS-->
        <link rel="stylesheet" type="text/css" href="static/css/hotelSite.css"/>
        <link rel="stylesheet" type="text/css" href="static/css/attractions.css"/>
    </head>

    <body>
        <header>
            <h1 id="company"> Alex and Jake's Hotel</h1>
            <img src="static/img/logo.png" alt="Company Logo" id="logo"> 
        </header>

        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/attractions">Attractions</a></li>
                <li><a href="/reviews">Reviews</a></li>
                <li><a href="/bookings">Bookings</a></li>
            </ul>
        </nav>
        
        <h2> Local Attractions</h2>
        
        <h3> Dining </h3>
        
        <div>
            <div class="column1">
                <h4> Garmonbozia </h4>
                <p>
                    Garmonbozia is a traditional style, 5 star
                    restaurant located 15 minutes away from the hotel.
                </p>
            </div>
            <div class = "column2">
                <img class="attimg" src="static/img/garmonbozia.jpg" alt="Garmonbonia interior">
            </div>
        </div>
        <div>
            <div class="column1">        
                <h4> Double R Diner </h4>
                <p>
                    The Double R Diner is a classic american style
                    diner, located 20 minutes away from the hotel.
                </p>
            </div>
            <div class="column2">
                <img class="attimg" src="static/img/doublerdiner.jpg" alt="Double R Diner interior">      
            </div>
        </div>
    </body>
</html>