<!DOCTYPE html>
<html>  
	<head>
		<meta http-equiv="Content-type" content="text/html;charset=utf-8"/>
        <title>Home</title>
        <!--CSS-->
        <link rel="stylesheet" type="text/css" href="static/css/hotelstylesheet.css"/>
        <link rel="stylesheet" type="text/css" href="static/css/indexstyle.css"/>
        <!--JS-->
        <script src="static/js/gallery.js"></script>
	</head>

	<body onload="changeImage(0)">
        <header>
            <h1 id="company"> Alex and Jake's Hotel</h1>
            <img src="static/img/logo.png" alt="Company Logo" id="logo"> 
        </header>

        <nav>
            <ul>
                <li><a href= "/"> Home </a></li>
                <li><a href = "attractions"> Attractions </a></li>
                <li><a href = "reviews"> Reviews </a></li>
                <li><a href = "bookings"> Bookings </a></li>
            </ul>
        </nav>
        
        <div class="column">
            <h2> Hotel name </h2>
            <h3> Overview </h3>
            <p>
                The --hotel name here-- , is a luxury hotel in a great
                tourist destination. Here we pride ourselves on our
                outstanding facilities and friendly customer service.
                Immerse yourself in nature in our beautiful gardens.
                Enjoy on demand room service whenever you want it.
                </br></br>
                Here's just a few of things you'll get when staying here:
            </p>
            <ul>
                <li> Luxurious beds </li>
                <li> Breakfast included </li>
                <li> Great views </li>
                <li> On-call cleaner </li>
                <li> ...and more! </li>
            </ul>
        </div>
        
        <div class="column">
            <h3> Gallery </h3>
            <img src="static/img/hotelrating.png" alt="4.5 Star rating" id="rating">
            <img class="hotelImg" id="mainimg" src="static/img/hotel1.jpg" alt="Hotel living room">
            <img class="hotelImg" src="static/img/hotel2.jpg" alt="Hotel bedroom">
            <img class="hotelImg" src="static/img/hotel3.jpg" alt="Hotel kitchen">
            <div id="imagenav">
                <button type="button" onclick="changeImage(-1)" id="previous"> Previous </button>
                <button type="button" onclick="changeImage(1)" id="next"> Next </button>
            </div>
        </div>
	</body>
</html>