body {background-color: white}
nav ul {background-color: #e5e5e5}
nav ul li {border-right: 2px solid white}

table th,td { padding:5px;}
table td {border:1px solid black;}
table {margin-left: auto; margin-right: auto; margin-top: 50px;border-collapse:collapse;}