/* Navbar styling */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7ea5e5;
}
nav ul li {
    float: left;
    border-right: 2px solid #d1e2ff;
}

nav ul li a {
    display: block;
    padding: 12px;
    text-decoration: none;
    color: black;
    font-family: Arial;
}

nav ul li a:hover {
    background-color: #5f7daf;
}

/* Header styling */
header {
    height: 80px;
}

#company {
    float: left;
    padding-left: 10px;
    font-family: Arial;
}

#logo {
    float: right;
    width: 150px;
    height: 90%;
    padding-right: 10px;
}

/* Page content syling */

p {
    font-size: 16px;
    font-family: Times New Roman;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Arial;
}

li {
    font-size: 12px;
    font-family: Times New Roman;
}

body {
    background-color: #d1e2ff;
    padding-left: 20px;
    padding-right: 20px;
}




