/* Navbar styling */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7ea5e5;
}
nav ul li {
    float: left;
    border-right: 2px solid #d1e2ff;
}

nav ul li a {
    display: block;
    padding: 12px;
    text-decoration: none;
    color: black;
    font-family: Arial;
}

nav ul li a:hover {
    background-color: #5f7daf;
}

/* Header styling */
header {
    height: 80px;
}

#company {
    float: left;
    padding-left: 10px;
    font-family: Arial;
}

#logo {
    float: right;
    width: 150px;
    height: 90%;
    padding-right: 10px;
}

/* Page content syling */

p, li {
    font-size: 16px;
    font-family: Times New Roman;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Arial;
}

h2, h3 {
    background-color: #7ea5e5;
    padding: 10px;
}

body {
    background-color: #d1e2ff;
    padding-left: 20px;
    padding-right: 20px;
}

.column {width:50%;display:inline-block;background-color: #eaf2ff; display: table-cell;}
.column:first-of-type {float: left;}
.column:last-of-type {float: right;}
.column>*{margin-left: 5%;margin-right: 5%;max-width:90%;}
.column>*:first-child{margin-top: 5%;}
.column>*:last-child{margin-bottom: 5%;}

.row {
    background-color: #eaf2ff;
    display: table;
    width:100%;
}

.internalnav {
    border: 2px solid #7ea5e5;
    background-color: #7ea5e5;
    border-radius: 50px;
    padding: 5px;
    font-size: 18px;
    text-decoration: none;
    color: black;
    font-family: Arial;
}

.internalnav:hover {
    background-color: #5f7daf;
    border-color: #5f7daf;
}


