/* Image slideshow styling */
.hotelImg {
    display: none;
    width: 80%;
    position: center;
    padding-bottom: 10px;
}

#imagenav {
    width: 80%;
}

#next {
    float: right;
}

#previous {
    float: left;
}

/* Page content styling */
#rating {
    position: absolute;
    max-width: 150px;
    height: 25px;
}