<!DOCTYPE html>
<html>  
	<head>
		<meta http-equiv="Content-type" content="text/html;charset=utf-8"/>
        <title>Attractions</title>
        <!--CSS-->
        <link rel="stylesheet" type="text/css" href="/static/css/hotelSite.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/attractions.css"/>
        {% if err != "" %}
        <!--Error print script-->
        <script>alert("{{err}}");</script>
        {% endif %}
    </head>

    <body>
        <header>
            <h1 id="company"> The Great Northern</h1>
            <img src="static/img/logo.png" alt="Company Logo" id="logo"> 
        </header>

        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/attractions">Attractions</a></li>
                <li><a href="/reviews">Reviews</a></li>
                <li><a href="/bookings">Bookings</a></li>
                <li><a href="/admin">Admin</a></li>
            </ul>
        </nav>
        
        <div class="content">
            <h2> Local Attractions</h2>
            <div class="row">
                <div class="column">
                    <p>
                        There's plently of great activities you can enjoy during your
                        visit; as well as many to places to eat, both for a fancy sit-down
                        meal or an easy take-out. Our hotel may be surrounded by nature
                        meaning there aren't many close-by services, but theres still
                        plenty to do that's only a short drive away!
                        <br></br>
                        Take the time to explore the lovely, scenic area around our hotel;
                        or go golfing on a relaxing Sunday morning. Perhaps you want to
                        relax at a professional quality Spa? These and more surround the
                        you'll be staying in.
                        <br></br>
                        Listed below are several different leisure and dining services
                        that can be found nearby. Additionally we have provided a map so
                        you may expore the area yourself and plan your stay before you
                        arrive.
                        <br></br>
                    </p>
                    <a class="internalnav" href="#leisure">Leisure and activities</a>
                    <br></br>
                    <br>
                    <a class="internalnav" href="#dining">Dining and takeaway</a>
                    
                </div>
    
                <div class = "column">
                    <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d9687.444542846208!2d1.24200465!3d52.62635350000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2suk!4v1512321520213" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        
        <div class="row">
            <h3 id="leisure"> Leisure and activities </h3>
            <div class="column">
                <h4> Sunny Hills: Golf course </h4>
                <p>
                    Sunny Hills: Golf course is a full scale golf course where
                    you can chill out and play games of golf. The course is located
                    20 minutes West of the hotel, or 30 minutes vis the bus.
                    <br></br>
                    Play a relaxing game of golf on a course of 16 challenging holes.
                    Then chill and get a hot or cold drink at the Sunny Hills cafe
                    afterwards. With lots of available outside seating areas and a 
                    wide selection of drinks and pastries, it is a day out we
                    strongly recommend.
                    <br></br>
                    Games should be booked a few weeks in advance. Eqipment can be
                    rented on-site, including clubs, balls, and carts to travel
                    between courses on. For inquiries call 0460 418 564.
                </p>
            </div>

            <div class = "column">
                <img class="attimg" src="static/img/sunnyhills.jpg" alt="Sunny Hills: Golf course">
            </div>
        </div>
        <div class="row">
            <div class="column">        
                <h4> Body and Mind: Spa </h4>
                <p>
                    The Body and Mind: Spa is a great place to relax and get rid of
                    built up stress. Renown for their wide range of therapeutic
                    treatments, it is certainly a location rated highly by out guests.
                    <br></br>
                    Offering services ranging from massages, to saunas, to manicures
                    and pedicures, theres something for everyone. It's the perfect
                    place to leave all your stress behind.
                    <br></br>
                    Bookings may be required when planning to visit at peak times. We
                    would recommend inquiring before visiting to avoid being turned away.
                    Inquiries and pricing information avaiable on their website, or by
                    calling 0460 267 674.
                    
                </p>
            </div>
        
            <div class="column">
                <img class="attimg" src="static/img/bodyandmindspa.jpg" alt="Body and Mind: Spa interior">      
            </div>
        </div>
        
        <div class="row">
            <h3 id="dining"> Dining </h3>
            <div class="column">
                <h4> Garmonbozia </h4>
                <p>
                    Garmonbozia is a traditional style, 5 star restaurant located
                    15 minutes away from the hotel by car, 20 minutes by bus, or
                    50 minutes by foot. 
                    <br></br>
                    Enjoy fine dining with world class service and dishes. Some of the
                    food served has won awards and attracted famous names to the
                    restaurant.
                    <br></br>
                    Tables must be booked in advance via their website or by calling
                    04680 432 231. We advice booking up to a week in advance due to
                    popular demand shown in recent surveys.
                </p>
            </div>
        
            <div class = "column">
                <img class="attimg" src="static/img/garmonbozia.jpg" alt="Garmonbonia interior">
            </div>
        </div>
        <div class="row">
            <div class="column">        
                <h4> Double R Diner </h4>
                <p>
                    The Double R Diner is a classic american style diner, located
                    20 minutes away from the hotel by car, 30 minutes by bus, and
                    1 hour by foot.
                    <br></br>
                    Themed like a traditional American diner, enjoy friendly customer
                    that always have a smile on their faces. The decoration and
                    commitment of the staff really bring the place together.
                    <br></br>
                    Our personal recommedations for a visit would be to get the
                    'All-American burger', which comes with a side of fries.
                    We would also recommned a classic, thick American milkshake
                    (made with ice cream), and the diner's signature cherry pie
                    for dessert.
                    <br></br>
                    No table booking required. To inquire about prices and other
                    queries contact them on 0460 456 267.
                </p>
            </div>
        
            <div class="column">
                <img class="attimg" src="static/img/doublerdiner.jpg" alt="Double R Diner interior">      
            </div>
        </div>
    </body>
</html>