<!DOCTYPE html>
<html>  
	<head>
		<meta http-equiv="Content-type" content="text/html;charset=utf-8"/>
        <title>Bookings</title>
        <!--CSS-->
        <link rel="stylesheet" type="text/css" href="/static/css/hotelSite.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/bookings.css"/>
        <link rel="stylesheet" href="/static/lib/fullcalendar.min.css" />
        <link rel="stylesheet" href="/static/lib/fullcalendar.print.min.css" media="print" />
        <!--JS-->
        <script src="/static/js/bookings.js"></script>
        <script src="/static/lib/moment.min.js"></script>
        <script src="/static/lib/jquery.min.js"></script>
        <script src="/static/lib/fullcalendar.min.js"></script>
        {% if err != "" %}
        <!--Error print script-->
        <script>alert("{{err}}");</script>
        {% endif %}
        <!--Calendar Script-->
        <script>
            //Adds bookings to the fullcalendar object as events.
            $(document).ready(function() {
                $('#calendar').fullCalendar({
                    editable: true,
                    eventLimit: true, // allow "more" link when too many events
                    events: [
                        //Jinja in JS looks errornous in Visual Studio Code
                        {% for booking in bookings_list %}{
                            title: "Room {{booking[5]}}",
                            start: "{{booking[0]}}",
                            end: "{{booking[1]}}"
                        },{% endfor %}
                    ]
                });
                
            });

        </script>

    </head>

    <body>
        <header>
            <h1 id="company"> The Great Northern</h1>
            <img src="/static/img/logo.png" alt="Company Logo" id="logo"> 
        </header>

        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/attractions">Attractions</a></li>
                <li><a href="/reviews">Reviews</a></li>
                <li><a href="/bookings">Bookings</a></li>
                <li><a href="/admin">Admin</a></li>
            </ul>
        </nav>

        <div class="row">
            <div class="column">
                <h2>Request Booking</h2>
                <form name="bookingRequestForm" action="/bookings" onsubmit="return validateForm()" method="post">
                    Arrival Date: <input name="arrivalDate" type="date"/> <br><br>
                    Departure Date: <input name="departureDate" type="date"/> <br><br>
                    First Name: <input name="firstName" type="text"/> <br><br>
                    Last Name: <input name="lastName" type="text"/> <br><br>
                    Email Address: <input name="email" type="text"/> <br><br>
                    Room: <input name="room" type="text"/> <br><br>
                    <button>Submit</button>
                </form>
                <h2> Bookings </h2>
                {% for booking in bookings_list %}
                <p>
                    <b>Room {{booking[5]}}</b>, {{booking[0]}} - {{booking[1]}}
                </p>
                {% endfor %}
            </div>

            <div class="column">
                <div id='calendar'></div>
            </div>
        </div>

    </body>
</html>